<footer class="footer">
  <!-- Top Logo -->
  <div class="footer-logo-top">
    <img src="assets/images/icons/footer.png" alt="Game Park Logo" />
  </div>

  <!-- Bottom 3 sections -->
  <div class="footer-content">
    <!-- Left Section -->
    <div class="footer-section footer-left">
      <a href="#">Terms & Conditions</a><br />
      <a href="#">FAQ's</a>
    </div>

    <!-- Middle Section -->
    <div class="footer-section footer-middle">
      <p>© 2025, Game Park Games</p>
      <p>Address – 37 Blohum Rd GA-121-6206.</p>
      <p>
        Email:
        <a href="mailto:support@gameparkgames.com">support@gameparkgames.com</a>
      </p>
      <p class="phone">Phone: +233 0308255777, +233 0596922377, +233 0302208066</p>

      <div class="footer-social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <!-- Right Section -->
    <div class="footer-section footer-right">
      <a href="#">Privacy Policy</a><br />
      <a href="#">All Rights Reserved</a>
    </div>
  </div>
</footer>
